$gray=#f5f5f5
$white=#fff

$bg-color=$gray
$border-color=#b3b3b3
$color=#333

.react-ui-button,
.react-ui-checkbox
  background-color #f5f5f5
  background-image linear-gradient(#fff, #e6e6e6)
  border 1px solid $border-color
  border-radius 2px
  color $color
  cursor pointer
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  line-height 20px
  margin 0
  outline-style none

  &:not([disabled])

    &:hover
      background-color #e6e6e6
      background-image linear-gradient(#f3f3f3, #e6e6e6)

    &:active
      background-image none
      box-shadow rgba(0,0,0,0.05) 0px 2px 4px 0px inset

  &[disabled]
    background-color #e6e6e6
    background-image none
    opacity 0.6

.react-ui-button
  font-size 14px
  padding 12px

.react-ui-checkbox
  display inline-block
  font-size 13px
  height 20px
  overflow hidden
  padding 0
  text-align center
  width 20px

  &.is-checked:after
    content '\2713';

